/********** tout d'abord ***********/
body{
    box-sizing: border-box;
    box-shadow: 20px;
    margin: 0;
    background-color: black;    
}
/*********** generalite ************/
button:hover{
    color: white;
    border: none;
    background-color: transparent ;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
legend{
    text-align: center;
}
td{
    margin-right: 1000px;
    width: 100%;
}
/***********  hearder  ************/
header{
    color: white;
    text-align: center;
}
h6{
    margin-top: -10px;
}
h1{
    margin-bottom: -10px;
}
/************ section 1 ************/
.section1{
    color: white;
    margin: 0% 10%;
    padding-top: 100px;
    height: 300px;
    border-radius: 30px;
    background: linear-gradient(rgba(62, 2, 2, 0.4),rgba(3, 3, 97, 0.484),rgba(3, 3, 97, 0.484),rgba(62, 2, 2, 0.4));
}
/************ section 2 ************/
.section2{
    color: white;
    margin: 0% 10%;
    padding-top: 100px;
    height: 300px;
    border-radius: 30px;
    background: linear-gradient(rgba(62, 2, 2, 0.4),rgba(3, 3, 97, 0.484),rgba(3, 3, 97, 0.484),rgba(62, 2, 2, 0.4));
}

/********* section 3 *********/
.section3{
    display: flex;
    flex-direction: row;
    color: white;
}
#factentrer{
    width: 50%;
    padding-left: 300px;
}
p{
    width: 50%;
}
a{
    text-decoration: none;
    color: white;
    margin-top: 50%;
}