/*******avant tout********/
body{
    box-sizing: border-box;
    margin: 0;  
}
button{
    border: none;
    background-color: transparent;
}
main{
    margin: 0% 10%;
    font-family: serif;
}
fieldset{
    width: 80%;
    margin: 10px 10px;
    border-radius: 20px;
}
h6,h2{
    text-align: center;
}
.millieu{
    width: 80%;
    margin: 40% 10px;
    border-radius: 20px;
}
legend{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fin{
    margin-top: 30%;
}
/*******  header  *******/
h2{
    margin-bottom: 0%;
}
h6{
    margin-top: -04px;
}
/******* section1 *******/
.section1{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 20px;
    
}

.container1,.container2,.container3{
    width: 100%;
}

article{
    display: flex;
    flex-direction: row;
    margin: -10px 10px;
}
p{
    width: 80%;
}

/******* section2 *******/
.section2{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 30px;
}

/******* section3 *****/
.section3{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#factresistance{
    width: 50%;
    /* padding-left: 100px; */
}
p{
    width: 50%;
    text-align: center;
}
a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
} 

@media  screen and (max-width: 600px) {
    .section1{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        border: none;
        color: rgb(150, 145, 145);
    }
    .section2{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        border: none;
        color: white;
    }
    button{
        color: white;
    }
    .section2 button{
        color: rgb(150, 145, 145);
    }
    .xxx{
        margin-top: 0px; 
    }
    fieldset{
        margin-top: 0px;
    }
    .fin{
        margin-top: 0px;
    }
    .millieu{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h2,h6{
        color: rgb(181, 4, 4);
    }
    .deb{
        margin-top: 0px;
    }
    body{
        background: linear-gradient(blue,black);
    }
    .section3{
        color: white;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .section3 > *{
        margin: 0%;
        width: 50%;
        /* display: flex;
        flex-direction: row; */
    }
    .section3 a{
        color: white;
        margin: 0px;
    }
    .factresistance{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .section3 p{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: -10px;
    }
}